/* property */
.property-table
{
	tbody {
		tr:hover {
			cursor: pointer;
		}

	}
}
.tab-pane {
	padding: 1em 0;
	min-height: 300px;
}
.tab-content {
	border: 1px solid #ddd;
	border-top: none;
}

#terminalModal {
	.modal-content{
		.modal-body {	
			/* height: 600px; */
			.border-radius(0px 0px 6px 6px);
		}	
	}
}
